<div class="col-md-4 col-sm-6 mb-10">
    <div class="common-prd-wrapper">
        <div class="prd-img">
            <a href="http://dm-surgical.com/product/liposuction-cannula/basket-lipo-cannula/lc-4000.html">
                <img class="img-responsive" src="http://dm-surgical.com/uploads/products/liposuction-cannula/basket-lipo-cannula/lc-4000_pimg1.jpg" alt="prd">
            </a></div>
        <div class="viewall"><a href="http://dm-surgical.com/product/liposuction-cannula/basket-lipo-cannula/lc-4000.html">{{ page.title }}</a></div>
        <span>Art # LC-4000</span>
    </div>
</div>