<div class="col-md-4 col-sm-6 mb-10">
    <div class="common-prd-wrapper">
        <div class="prd-img">
            <a href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
                <img class="img-responsive" src="{{ page.image | prepend: site.baseurl | prepend: site.url }}" alt="prd">
            </a></div>
        <div class="viewall"><a href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a></div>
        <span>{{ page.name }}</span>
    </div>
</div>