<div class="our-certificates">
	<div class="container">
		<div class="row">

			<div class="text-center">
				<h1>Certification & Memberships</h1>
			</div>

			<div class="col-md-4 col-sm-4">
				<div class="our-certs">
					<img class="img-responsive" src="http://dm-surgical.com/images/certs01.jpg"= alt="certs">
				</div>
			</div>

			<div class="col-md-4 col-sm-4">
				<div class="our-certs">
					<img class="img-responsive" src="http://dm-surgical.com/images/certs02.jpg"= alt="certs">
				</div>
			</div>

			<div class="col-md-4 col-sm-4">
				<div class="our-certs">
					<img class="img-responsive" src="http://dm-surgical.com/images/certs03.jpg"= alt="certs">
				</div>
			</div>

		</div>
	</div>
</div>